 p{
  color:black;
  background-color: chartreuse;
  text-align: right;


 }
 table, td,th{

   border: 1px solid black;
   border-collapse: collapse;
   padding: 15px;
 }
 #secondptag{
 color: blue;
  background-color: black;
 }
 h3{
 text-align: center;

 }
 form{
text-align: center;

 }
 input{
padding: 10px; ;

 }